<a href="https://colab.research.google.com/github/zdanielshi/personal_projects/blob/main/DS0531.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import json
import requests

# NASA Example

NASA API key: FtSgRbxAYiBUmzRG4TqKmCoMyf3ryugklzUaYKZ4

In [ ]:
response = requests.get('https://api.nasa.gov/techport/api/specification?api_key=FtSgRbxAYiBUmzRG4TqKmCoMyf3ryugklzUaYKZ4')

In [ ]:
response

In [ ]:
json_obj = response.json()

In [ ]:
json_obj.keys()

dict_keys(['openapi', 'info', 'servers', 'paths', 'components'])

In [ ]:
response_b = requests.get('https://api.nasa.gov/techport/api/projects?updatedSince=2016-01-01&api_key=FtSgRbxAYiBUmzRG4TqKmCoMyf3ryugklzUaYKZ4')

In [ ]:
response_b

In [ ]:
projects = response_b.json()

In [ ]:
projects

In [ ]:
response_c = requests.get('https://api.nasa.gov/techport/api/projects/105685?api_key=FtSgRbxAYiBUmzRG4TqKmCoMyf3ryugklzUaYKZ4')

In [ ]:
project_105685 = response_c.json()

In [ ]:
df = pd.DataFrame.from_dict(project_105685)

In [ ]:
df = df.T

In [ ]:
df['website']

project    https://etd.gsfc.nasa.gov/
Name: website, dtype: object

# IMDB Exercise

API Key (v3 auth)

0629ce09539e8a9385337e99c10d9c01

Example API Request

https://api.themoviedb.org/3/movie/550?api_key=0629ce09539e8a9385337e99c10d9c01

API Read Access Token (v4 auth)

eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwNjI5Y2UwOTUzOWU4YTkzODUzMzdlOTljMTBkOWMwMSIsInN1YiI6IjYyOTZjM2RkMWU5MjI1MDA2NDFhMDRhZSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.Y13CgGZ6_JwGKBa6QiApmvSWxrEvCy8KkcdVPwOhA3Y

In [ ]:
response_sw = requests.get('https://api.themoviedb.org/3/search/movie?api_key=0629ce09539e8a9385337e99c10d9c01&language=en-US&page=1&query=Star+wars')
response_sw

In [ ]:
sw_movies_data = response_sw.json()

In [ ]:
results = sw_movies_data['results']
df_results = pd.DataFrame(results)

In [ ]:
df_results.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/zqkmTXzjkAgXmEWLRsY4UpTWCeo.jpg,"[12, 28, 878]",11,en,Star Wars,Princess Leia is captured and held hostage by ...,98.880,/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg,1977-05-25,Star Wars,False,8.2,17272
1,False,/f53Jujiap580mgfefID0T0g2e17.jpg,"[10751, 16, 878, 35]",857702,en,LEGO Star Wars Terrifying Tales,Poe Dameron and BB-8 must face the greedy crim...,85.122,/fYiaBZDjyXjvlY6EDZMAxIhBO1I.jpg,2021-10-01,LEGO Star Wars Terrifying Tales,False,6.9,186
2,False,/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg,"[12, 28, 878, 14]",140607,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,89.155,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,2015-12-15,Star Wars: The Force Awakens,False,7.3,17018
3,False,/5Iw7zQTHVRBOYpA0V6z0yypOPZh.jpg,"[12, 28, 878]",181808,en,Star Wars: The Last Jedi,Rey develops her newly discovered abilities wi...,82.196,/ySaaKHOLAQU5HoZqWmzDIj1VvZ1.jpg,2017-12-13,Star Wars: The Last Jedi,False,6.9,13044
4,False,/SPkEiZGxq5aHWQ2Zw7AITwSEo2.jpg,"[12, 28, 878]",181812,en,Star Wars: The Rise of Skywalker,The surviving Resistance faces the First Order...,83.645,/db32LaOibwEliAmSL2jjDF6oDdj.jpg,2019-12-18,Star Wars: The Rise of Skywalker,False,6.4,7816

In [ ]:
df_results_popular_sort = df_results.sort_values(by='popularity', ascending=False)
df_results_popular_sort.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/zqkmTXzjkAgXmEWLRsY4UpTWCeo.jpg,"[12, 28, 878]",11,en,Star Wars,Princess Leia is captured and held hostage by ...,98.880,/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg,1977-05-25,Star Wars,False,8.2,17272
2,False,/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg,"[12, 28, 878, 14]",140607,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,89.155,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,2015-12-15,Star Wars: The Force Awakens,False,7.3,17018
1,False,/f53Jujiap580mgfefID0T0g2e17.jpg,"[10751, 16, 878, 35]",857702,en,LEGO Star Wars Terrifying Tales,Poe Dameron and BB-8 must face the greedy crim...,85.122,/fYiaBZDjyXjvlY6EDZMAxIhBO1I.jpg,2021-10-01,LEGO Star Wars Terrifying Tales,False,6.9,186
4,False,/SPkEiZGxq5aHWQ2Zw7AITwSEo2.jpg,"[12, 28, 878]",181812,en,Star Wars: The Rise of Skywalker,The surviving Resistance faces the First Order...,83.645,/db32LaOibwEliAmSL2jjDF6oDdj.jpg,2019-12-18,Star Wars: The Rise of Skywalker,False,6.4,7816
3,False,/5Iw7zQTHVRBOYpA0V6z0yypOPZh.jpg,"[12, 28, 878]",181808,en,Star Wars: The Last Jedi,Rey develops her newly discovered abilities wi...,82.196,/ySaaKHOLAQU5HoZqWmzDIj1VvZ1.jpg,2017-12-13,Star Wars: The Last Jedi,False,6.9,13044

Best rated movie = Star Wars. Genre IDs = 12, 28, 878

In [ ]:
# response_sw_genre = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=0629ce09539e8a9385337e99c10d9c01&language=en-US&sort_by=popularity.desc&include_adult=false&with_genres=[12,28,878]')
response_sw_genre = requests.get('https://api.themoviedb.org/3/movie/11/similar?api_key=0629ce09539e8a9385337e99c10d9c01&language=en-US')

In [ ]:
response_sw_genre

In [ ]:
sw_genre_films = response_sw_genre.json()
sw_genre_films = sw_genre_films['results']
df_sw_genre = pd.DataFrame(sw_genre_films)

In [ ]:
df_sw_genre.head()

,adult,backdrop_path,genre_ids,id,title,original_language,original_title,overview,popularity,poster_path,release_date,video,vote_average,vote_count
0,False,/g0pF9jXhPqm6TN3AAMWn0YeYayi.jpg,"[28, 16, 878]",9323,Ghost in the Shell,ja,GHOST IN THE SHELL,"In the year 2029, the barriers of our world ha...",31.387,/9gC88zYUBARRSThcG93MvW14sqx.jpg,1995-11-18,False,7.934,2538
1,False,/fHDAbqV14BX13K21e2bO9wX9dB5.jpg,"[12, 28, 35, 10749]",9326,Romancing the Stone,en,Romancing the Stone,Though she can spin wild tales of passionate r...,15.919,/qfIlVOYZH5RiZ0ndFKUpr5Zn2Bx.jpg,1984-03-30,False,6.742,1430
2,False,/mVuH9hNGnxF9bbhlh1Tr9FuG3Uc.jpg,"[12, 16, 10751, 14, 878]",9016,Treasure Planet,en,Treasure Planet,When space galleon cabin boy Jim Hawkins disco...,42.364,/zMKatZ0c0NCoKzfizaCzVUcbKMf.jpg,2002-11-26,False,7.522,3346
3,False,/n7p6UTAZtkeoHkwCO42BEQaMFJY.jpg,"[18, 878, 12]",644,A.I. Artificial Intelligence,en,A.I. Artificial Intelligence,"David, a robotic boy—the first of his kind pro...",25.008,/8MZSGX5JORoO72EfuAEcejH5yHn.jpg,2001-06-29,False,7.019,5175
4,False,/jMBpJFRtrtIXymer93XLavPwI3P.jpg,"[28, 53, 878]",679,Aliens,en,Aliens,When Ripley's lifepod is found by a salvage cr...,35.364,/r1x5JGpyqZU8PYhbs4UcrO1Xb6x.jpg,1986-07-18,False,7.910,7697

In [ ]:
df_sw_genre['vote_average'].mean()

7.0825499999999995

Favorite movie is 'Crazy Rich Asians'

In [126]:
fav_film_request = requests.get('https://api.themoviedb.org/3/search/movie?api_key=0629ce09539e8a9385337e99c10d9c01&language=en-US&page=1&include_adult=false&query=Crazy+Rich+Asians')

In [ ]:
fav_film = fav_film_request.json()
fav_film_results = fav_film['results']
df_fav_film = pd.DataFrame(fav_film_results)
df_fav_film

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/qQz3fnBbLwMV4iveMFUApXC5h7G.jpg,"[35, 18, 10749]",455207,en,Crazy Rich Asians,An American-born Chinese economics professor a...,22.19,/1XxL4LJ5WHdrcYcihEZUCgNCpAW.jpg,2018-08-15,Crazy Rich Asians,False,7.1,3012
1,False,None,"[10749, 35, 18]",972659,en,Untitled 'Crazy Rich Asians' Spin-Off,A spin-off to the 2018 film 'Crazy Rich Asians...,0.60,None,,Untitled 'Crazy Rich Asians' Spin-Off,False,0.0,0

Crazy Rich Asians ID = 455207

In [ ]:
cra_similar_request = requests.get('https://api.themoviedb.org/3/movie/11/similar?api_key=0629ce09539e8a9385337e99c10d9c01&language=en-US')
cra_similar_request

In [ ]:
cra_sim_json = cra_similar_request.json()
cra_sim_results = cra_sim_json['results']
df_cra_sim = pd.DataFrame(cra_sim_results)

df_cra_sim

,adult,backdrop_path,genre_ids,id,title,original_language,original_title,overview,popularity,poster_path,release_date,video,vote_average,vote_count
0,False,/g0pF9jXhPqm6TN3AAMWn0YeYayi.jpg,"[28, 16, 878]",9323,Ghost in the Shell,ja,GHOST IN THE SHELL,"In the year 2029, the barriers of our world ha...",31.387,/9gC88zYUBARRSThcG93MvW14sqx.jpg,1995-11-18,False,7.934,2538
1,False,/fHDAbqV14BX13K21e2bO9wX9dB5.jpg,"[12, 28, 35, 10749]",9326,Romancing the Stone,en,Romancing the Stone,Though she can spin wild tales of passionate r...,15.919,/qfIlVOYZH5RiZ0ndFKUpr5Zn2Bx.jpg,1984-03-30,False,6.742,1430
2,False,/mVuH9hNGnxF9bbhlh1Tr9FuG3Uc.jpg,"[12, 16, 10751, 14, 878]",9016,Treasure Planet,en,Treasure Planet,When space galleon cabin boy Jim Hawkins disco...,42.364,/zMKatZ0c0NCoKzfizaCzVUcbKMf.jpg,2002-11-26,False,7.522,3346
3,False,/n7p6UTAZtkeoHkwCO42BEQaMFJY.jpg,"[18, 878, 12]",644,A.I. Artificial Intelligence,en,A.I. Artificial Intelligence,"David, a robotic boy—the first of his kind pro...",25.008,/8MZSGX5JORoO72EfuAEcejH5yHn.jpg,2001-06-29,False,7.019,5175
4,False,/jMBpJFRtrtIXymer93XLavPwI3P.jpg,"[28, 53, 878]",679,Aliens,en,Aliens,When Ripley's lifepod is found by a salvage cr...,35.364,/r1x5JGpyqZU8PYhbs4UcrO1Xb6x.jpg,1986-07-18,False,7.910,7697
5,False,/pyTDtQCn5sG8gi2zkM5ZylSNmtJ.jpg,"[12, 28, 53]",681,Diamonds Are Forever,en,Diamonds Are Forever,Diamonds are stolen only to be sold again in t...,20.508,/uajiHcFX5sOhYB2tBuWkmizbtuU.jpg,1971-12-13,False,6.386,1600
6,False,/z7Jp7HAsY7MqXzPYzTjJnmOQk2r.jpg,"[12, 28, 53]",699,For Your Eyes Only,en,For Your Eyes Only,A British spy ship has sunk and on board was a...,20.280,/rIbhuS2xBHDYWAriFxLABlK2LZV.jpg,1981-06-23,False,6.471,1418
7,False,/3tSCdgdUpXmkpHtAoQJgTt1LSI0.jpg,"[878, 35, 80]",816,Austin Powers: International Man of Mystery,en,Austin Powers: International Man of Mystery,As a swingin' fashion photographer by day and ...,31.241,/qSvfLwdDBLjZaPwA7qdn0yYePq5.jpg,1997-05-02,False,6.528,2691
8,False,/8TnEls6hvTTXZZvc8nx4ShaPGlx.jpg,"[12, 35, 80, 878]",817,Austin Powers: The Spy Who Shagged Me,en,Austin Powers: The Spy Who Shagged Me,When diabolical genius Dr. Evil travels back i...,19.300,/jiF7UShERJFn5RtgfBK2lIJrOTc.jpg,1999-05-04,False,6.246,2702
9,False,/5wJ2tckpvwcxGCAgZiccodwEJpf.jpg,"[28, 878, 12]",841,Dune,en,Dune,"In the year 10,191, the world is at war for co...",36.557,/ngUaHgSZGkKy1Izwjk7qwZLOC5A.jpg,1984-12-14,False,6.243,2206
10,False,/3E5pvJLNEz5WmYWl6GfFW8hEVV3.jpg,"[18, 36, 10752]",857,Saving Private Ryan,en,Saving Private Ryan,"As U.S. troops storm the beaches of Normandy, ...",50.717,/1wY4psJ5NVEhCuOYROwLH2XExM2.jpg,1998-07-24,False,8.192,13061
11,False,/pN2agNn34nPFI4rS3uVzfVkUnDV.jpg,"[28, 18, 14]",1494,Curse of the Golden Flower,zh,滿城盡帶黃金甲,During China's Tang dynasty the emperor has ta...,14.836,/cuX11HZlkNFHCieu8UyWmMeMXkg.jpg,2006-12-14,False,6.762,577
12,False,/466zklOlxKDXID4ejaIXu3PN5nV.jpg,"[18, 53, 28]",1372,Blood Diamond,en,Blood Diamond,An ex-mercenary turned smuggler. A Mende fishe...,32.247,/m6rZ3dmqjcTvVNKtqwQ6hxYQ9nk.jpg,2006-01-26,False,7.516,6255
13,False,/aUYdm7H59CECBPM4XBduHtpRFZi.jpg,"[878, 35, 18]",2277,Bicentennial Man,en,Bicentennial Man,"Richard Martin buys a gift, a new NDR-114 robo...",14.410,/wrs23eO0VEWwOQpXoOasMnlW9Y4.jpg,1999-12-17,False,7.239,3011
14,False,/dMZxEdrWIzUmUoOz2zvmFuutbj7.jpg,"[12, 28, 878]",1891,The Empire Strikes Back,en,The Empire Strikes Back,"The epic saga continues as Luke Skywalker, in ...",31.426,/2l05cFWJacyIsTpsqSgH0wQXe4V.jpg,1980-05-20,False,8.389,14196
15,False,/iP2tEA2A77qhbhRfcFkiD6WFOqH.jpg,"[12, 28, 878]",1892,Return of the Jedi,en,Return of the Jedi,Luke Skywalker leads a mission to rescue his f...,27.467,/1kAbMLKVJz7LGjs8nnp259tffry.jpg,1983-05-25,False,7.911,12779
16,False,/5fu7fzy4NZTsL1Jap00UBIInAuB.jpg,"[12, 28, 878]",1893,Star Wars: Episode I - The Phantom Menace,en,Star Wars: Episode I - The Phantom Menace,"Anakin Skywalker, a young slave strong with th...",53.063,/6wkfovpn7Eq8dYNKaG5PY3q2oq6.jpg,1999-05-19,False,6.513,12177
17,False,/1uQSh7P3k0oRbRf0vH8GVt4thpP.jpg,"[12, 28, 878]",1894,Star Wars: Episode II - Attack of the Clones,en,Star Wars: Episode II - Attack of the Clones,Following an assassination attempt on Senator ...,47.057,/oZNPzxqM2s5DyVWab09NTQScDQt.jpg,2002-05-15,False,6.540,11019
18,False,/uuh6uNEGqLCU7wQ2L4xMqYv0DPr.jpg,"[12, 28, 878]",1895,Star Wars: Episode III - Revenge of the Sith,en,Star Wars: Episode III - Revenge of the Sith,The evil Darth Sidious enacts his final plan f...,51.549,/xfSAoBEm9MNBjmlNcDYLvLSMlnq.jpg,2005-05-17,False,7.380,11441
19,False,/fU92iWyQbysjAQmkfkuFxNlWzz1.jpg,"[878, 12]",3604,Flash Gordon,en,Flash Gordon,A football player and his mates travel to the ...,17.432,/5PyiSSJ6lVsY8IbmPHBo1sp596h.jpg,1980-09-01,False,6.208,714