<a href="https://colab.research.google.com/github/zdanielshi/personal_projects/blob/main/DS0602.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

# Box Office Mojo Exercise

In [5]:
 url = "https://www.boxofficemojo.com/year/world/2022/"

In [6]:
html_page = requests.get(url)

In [8]:
html_page.status_code

200

In [9]:
raw_data = BeautifulSoup(html_page.content)

In [13]:
table = raw_data.find_all('table')

In [14]:
len(table)

1

In [15]:
first_table = table[0]

In [17]:
first_table_rows = first_table.find_all('tr')

In [18]:
len(first_table_rows)

201

In [ ]:
empty = []

for x in first_table_rows:
  td = x.find_all('td')
  data = [y.text for y in td]
  empty.append(data)

empty

In [36]:
df = pd.DataFrame(empty)
df = df.iloc[1:]
df.columns = ['Rank', 'Release Group', 'Worldwide', 'Domestic', '%', 'Foreign', '%']

In [38]:
df

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%
1,1,Doctor Strange in the Multiverse of Madness,"$880,983,652","$378,050,351",42.9%,"$502,933,301",57.1%
2,2,The Batman,"$770,336,695","$369,336,695",47.9%,"$401,000,000",52.1%
3,3,Water Gate Bridge,"$626,571,280","$117,294",<0.1%,"$626,453,986",100%
4,4,Uncharted,"$400,977,533","$147,877,533",36.9%,"$253,100,000",63.1%
5,5,Fantastic Beasts: The Secrets of Dumbledore,"$396,165,662","$95,065,662",24%,"$301,100,000",76%
...,...,...,...,...,...,...,...
196,196,The Red Herring,"$1,191,531",-,-,"$1,191,531",100%
197,197,Brother,"$1,179,584",-,-,"$1,179,584",100%
198,198,Swingers,"$1,168,817",-,-,"$1,168,817",100%
199,199,A Radiant Girl,"$1,154,112",-,-,"$1,154,112",100%
200,200,Toxic,"$1,150,133",-,-,"$1,150,133",100%

# Formula 1 Exercise

Connect to the web server and make sure you receive an 'ok' status code

In [41]:
f1_url = "https://www.formula1.com/en/results.html/2022/drivers.html"

In [43]:
f1_page = requests.get(f1_url)
f1_page

Scrape the page for the statistics stored in the table

In [53]:
f1_raw_data = BeautifulSoup(f1_page.content)

In [58]:
f1_table = f1_raw_data.find_all('table')
f1_table = f1_table[0]

In [59]:
f1_table_rows = f1_table.find_all('tr')

In [60]:
len(f1_table_rows)

22

In [ ]:
f1_rankings = []

for x in f1_table_rows:
  td = x.find_all('td')
  info = [y.text for y in td]
  f1_rankings.append(info)

f1_rankings

Save the table as a data frame

In [112]:
df_f1_rankings = pd.DataFrame(f1_rankings)
df_f1_rankings = df_f1_rankings.iloc[1:, 1:6] #there was an empty column that got scraped
df_f1_rankings.columns = ['POS', 'DRIVER', 'NATIONALITY', 'CAR', 'PTS']
df_f1_rankings.head()

,POS,DRIVER,NATIONALITY,CAR,PTS
1,1,\n\nMax\nVerstappen\nVER\n\n,NED,\nRed Bull Racing RBPT\n,125
2,2,\n\nCharles\nLeclerc\nLEC\n\n,MON,\nFerrari\n,116
3,3,\n\nSergio\nPerez\nPER\n\n,MEX,\nRed Bull Racing RBPT\n,110
4,4,\n\nGeorge\nRussell\nRUS\n\n,GBR,\nMercedes\n,84
5,5,\n\nCarlos\nSainz\nSAI\n\n,ESP,\nFerrari\n,83

Replace the \n's in the dataframe

In [113]:
df_f1_rankings.replace({'\n': ' '}, regex = True, inplace = True)
df_f1_rankings.head()

  POS                   DRIVER NATIONALITY                     CAR  PTS
1   1     Max Verstappen VER           NED   Red Bull Racing RBPT   125
2   2    Charles Leclerc LEC           MON                Ferrari   116
3   3       Sergio Perez PER           MEX   Red Bull Racing RBPT   110
4   4     George Russell RUS           GBR               Mercedes    84
5   5       Carlos Sainz SAI           ESP                Ferrari    83

Save the data frame as a .csv file, and re-read the file 
to make sure it saved correctly

In [89]:
df_f1_rankings.to_csv('F1 Rankings')

In [90]:
f1_read_csv = pd.read_csv('/content/F1 Rankings')

In [91]:
f1_read_csv.head()

,Unnamed: 0,POS,DRIVER,NATIONALITY,CAR,PTS
0,1,1,Max Verstappen VER,NED,Red Bull Racing RBPT,125
1,2,2,Charles Leclerc LEC,MON,Ferrari,116
2,3,3,Sergio Perez PER,MEX,Red Bull Racing RBPT,110
3,4,4,George Russell RUS,GBR,Mercedes,84
4,5,5,Carlos Sainz SAI,ESP,Ferrari,83

Scrape the page using the pd.read_html( ) method

In [92]:
f1_htmnl = pd.read_html('https://www.formula1.com/en/results.html/2022/drivers.html')
f1_htmnl

[    Unnamed: 0  Pos                  Driver Nationality  \
 0          NaN    1    Max  Verstappen  VER         NED
 1          NaN    2   Charles  Leclerc  LEC         MON
 2          NaN    3      Sergio  Perez  PER         MEX
 3          NaN    4    George  Russell  RUS         GBR
 4          NaN    5      Carlos  Sainz  SAI         ESP
 5          NaN    6    Lewis  Hamilton  HAM         GBR
 6          NaN    7      Lando  Norris  NOR         GBR
 7          NaN    8   Valtteri  Bottas  BOT         FIN
 8          NaN    9      Esteban  Ocon  OCO         FRA
 9          NaN   10   Kevin  Magnussen  MAG         DEN
 10         NaN   11  Daniel  Ricciardo  RIC         AUS
 11         NaN   12      Yuki  Tsunoda  TSU         JPN
 12         NaN   13   Fernando  Alonso  ALO         ESP
 13         NaN   14      Pierre  Gasly  GAS         FRA
 14         NaN   15  Sebastian  Vettel  VET         GER
 15         NaN   16   Alexander  Albon  ALB         THA
 16         NaN   17      Lance  Stroll  STR         CAN
 17         NaN   18       Zhou  Guanyu  ZHO         CHN
 18         NaN   19   Mick  Schumacher  MSC         GER
 19         NaN   20   Nico  Hulkenberg  HUL         GER
 20         NaN   21   Nicholas  Latifi  LAT         CAN

                              Car  PTS  Unnamed: 6
 0           Red Bull Racing RBPT  125         NaN
 1                        Ferrari  116         NaN
 2           Red Bull Racing RBPT  110         NaN
 3                       Mercedes   84         NaN
 4                        Ferrari   83         NaN
 5                       Mercedes   50         NaN
 6               McLaren Mercedes   48         NaN
 7             Alfa Romeo Ferrari   40         NaN
 8                 Alpine Renault   30         NaN
 9                   Haas Ferrari   15         NaN
 10              McLaren Mercedes   11         NaN
 11               AlphaTauri RBPT   11         NaN
 12                Alpine Renault   10         NaN
 13               AlphaTauri RBPT    6         NaN
 14  Aston Martin Aramco Mercedes    5         NaN
 15             Williams Mercedes    3         NaN
 16  Aston Martin Aramco Mercedes    2         NaN
 17            Alfa Romeo Ferrari    1         NaN
 18                  Haas Ferrari    0         NaN
 19  Aston Martin Aramco Mercedes    0         NaN
 20             Williams Mercedes    0         NaN  ]

Remove the driver name abbreviations (ex: 'VER', 'LEC', 'PER') from the Driver feature and add them to their own new feature called 'Abbreviation'

In [114]:
df_f1_rankings

,POS,DRIVER,NATIONALITY,CAR,PTS
1,1,Max Verstappen VER,NED,Red Bull Racing RBPT,125
2,2,Charles Leclerc LEC,MON,Ferrari,116
3,3,Sergio Perez PER,MEX,Red Bull Racing RBPT,110
4,4,George Russell RUS,GBR,Mercedes,84
5,5,Carlos Sainz SAI,ESP,Ferrari,83
6,6,Lewis Hamilton HAM,GBR,Mercedes,50
7,7,Lando Norris NOR,GBR,McLaren Mercedes,48
8,8,Valtteri Bottas BOT,FIN,Alfa Romeo Ferrari,40
9,9,Esteban Ocon OCO,FRA,Alpine Renault,30
10,10,Kevin Magnussen MAG,DEN,Haas Ferrari,15
11,11,Daniel Ricciardo RIC,AUS,McLaren Mercedes,11
12,12,Yuki Tsunoda TSU,JPN,AlphaTauri RBPT,11
13,13,Fernando Alonso ALO,ESP,Alpine Renault,10
14,14,Pierre Gasly GAS,FRA,AlphaTauri RBPT,6
15,15,Sebastian Vettel VET,GER,Aston Martin Aramco Mercedes,5
16,16,Alexander Albon ALB,THA,Williams Mercedes,3
17,17,Lance Stroll STR,CAN,Aston Martin Aramco Mercedes,2
18,18,Zhou Guanyu ZHO,CHN,Alfa Romeo Ferrari,1
19,19,Mick Schumacher MSC,GER,Haas Ferrari,0
20,20,Nico Hulkenberg HUL,GER,Aston Martin Aramco Mercedes,0
21,21,Nicholas Latifi LAT,CAN,Williams Mercedes,0

In [147]:
df_rankings_2 = df_f1_rankings.copy()
df_rankings_2['DRIVER'] = df_rankings_2['DRIVER'].str.strip()
df_rankings_2['Abbreviation'] = df_rankings_2['DRIVER'].str[-3:]
df_rankings_2.insert(1, 'DRIVER1', df_rankings_2['DRIVER'].str[:-3])
df_rankings_2.drop(['DRIVER'], axis = 1, inplace=True) # Drop driver
df_rankings_2.rename(columns = {'DRIVER1':'DRIVER'}, inplace=True)

df_rankings_2

,POS,DRIVER,NATIONALITY,CAR,PTS,Abbreviation
1,1,Max Verstappen,NED,Red Bull Racing RBPT,125,VER
2,2,Charles Leclerc,MON,Ferrari,116,LEC
3,3,Sergio Perez,MEX,Red Bull Racing RBPT,110,PER
4,4,George Russell,GBR,Mercedes,84,RUS
5,5,Carlos Sainz,ESP,Ferrari,83,SAI
6,6,Lewis Hamilton,GBR,Mercedes,50,HAM
7,7,Lando Norris,GBR,McLaren Mercedes,48,NOR
8,8,Valtteri Bottas,FIN,Alfa Romeo Ferrari,40,BOT
9,9,Esteban Ocon,FRA,Alpine Renault,30,OCO
10,10,Kevin Magnussen,DEN,Haas Ferrari,15,MAG
11,11,Daniel Ricciardo,AUS,McLaren Mercedes,11,RIC
12,12,Yuki Tsunoda,JPN,AlphaTauri RBPT,11,TSU
13,13,Fernando Alonso,ESP,Alpine Renault,10,ALO
14,14,Pierre Gasly,FRA,AlphaTauri RBPT,6,GAS
15,15,Sebastian Vettel,GER,Aston Martin Aramco Mercedes,5,VET
16,16,Alexander Albon,THA,Williams Mercedes,3,ALB
17,17,Lance Stroll,CAN,Aston Martin Aramco Mercedes,2,STR
18,18,Zhou Guanyu,CHN,Alfa Romeo Ferrari,1,ZHO
19,19,Mick Schumacher,GER,Haas Ferrari,0,MSC
20,20,Nico Hulkenberg,GER,Aston Martin Aramco Mercedes,0,HUL
21,21,Nicholas Latifi,CAN,Williams Mercedes,0,LAT

# NHL exercise

Connect to the web server and make sure you receive an 'ok' status code

In [150]:
# connect to URL
nhl_url = 'https://www.espn.com/nhl/team/stats/_/name/ana/anaheim-ducks'

# extract to an html page
nhl_page = requests.get(nhl_url)

# check the status
nhl_page

Scrape the page for the statistics stored in the table

In [153]:
nhl_raw = BeautifulSoup(nhl_page.content)

In [ ]:
nhl_raw

In [179]:
nhl_table = nhl_raw.find_all('table')
nhl_table

nhl_table_1 = nhl_table[0]
nhl_table_2 = nhl_table[1]
# nhl_table_3 = nhl_table[2]
# nhl_table_4 = nhl_table[3]

In [188]:
nhl_table_row_1 = nhl_table_1.find_all('tr')
nhl_table_row_2 = nhl_table_2.find_all('tr')
# nhl_table_row_3 = nhl_table_3.find_all('tr')
# nhl_table_row_4 = nhl_table_4.find_all('tr')

In [189]:
def rows_to_td(object_x):
  mt_list = []
  for x in object_x:
    td = x.find_all('td')
    info = [y.text for y in td]
    mt_list.append(info)
  return mt_list

nhl_object_1 = table_to_rows(nhl_table_row_1)
nhl_object_2 = table_to_rows(nhl_table_row_2)
# nhl_object_3 = table_to_rows(nhl_table_row_3)
# nhl_object_4 = table_to_rows(nhl_table_row)4)

Save the table as a data frame

In [192]:
df_nhl_1 = pd.DataFrame(nhl_object_1)
df_nhl_2 = pd.DataFrame(nhl_object_2)
# df_nhl_3 = pd.DataFrame(nhl_object_3)
# df_nhl_4 = pd.DataFrame(nhl_object_4)

In [199]:
df_nhl_1.head()

                 0
0             None
1             None
2     Troy Terry C
3  Trevor Zegras C
4  Adam Henrique C

In [200]:
df_nhl_2.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,None,None,None,None,None,None,None,None,None,None,None,None,None
1,None,None,None,None,None,None,None,None,None,None,None,None,None
2,75,37,30,67,-11,26,18:14,8,7,0,0,192,19.3
3,75,23,38,61,-21,50,17:54,9,8,0,0,181,12.7
4,58,19,23,42,-2,14,17:25,6,5,0,0,141,13.5

In [217]:
#concatenating the two dataframes together
ducks_data = pd.concat([df_nhl_1[2:], df_nhl_2[2:]], axis=1)
ducks_data.columns = ['Name','GP', 'G', 'A', 'PTS', '+/-', 'PIM', 'TOI/G', 'PPG', 'PPA', 'SHG', 'SHA', 'S', 'SPCT']
ducks_data.head()

              Name  GP   G   A PTS  +/- PIM  TOI/G PPG PPA SHG SHA    S  SPCT
2     Troy Terry C  75  37  30  67  -11  26  18:14   8   7   0   0  192  19.3
3  Trevor Zegras C  75  23  38  61  -21  50  17:54   9   8   0   0  181  12.7
4  Adam Henrique C  58  19  23  42   -2  14  17:25   6   5   0   0  141  13.5
5     Cam Fowler D  76   9  33  42   -9  14  24:24   6  12   0   0  124   7.3
6   Ryan Getzlaf C  56   3  34  37  -14  29  18:57   2   9   0   0  104   2.9

Save the data frame as a .csv file, and re-read the file 
to make sure it saved correctly

In [219]:
ducks_data.to_csv('Ducks Data.csv')

In [222]:
ducks_read_csv = pd.read_csv('/content/Ducks Data.csv')

In [223]:
ducks_read_csv.head()

,Unnamed: 0,Name,GP,G,A,PTS,+/-,PIM,TOI/G,PPG,PPA,SHG,SHA,S,SPCT
0,2,Troy Terry C,75,37,30,67,-11.0,26,18:14,8,7,0,0,192,19.3
1,3,Trevor Zegras C,75,23,38,61,-21.0,50,17:54,9,8,0,0,181,12.7
2,4,Adam Henrique C,58,19,23,42,-2.0,14,17:25,6,5,0,0,141,13.5
3,5,Cam Fowler D,76,9,33,42,-9.0,14,24:24,6,12,0,0,124,7.3
4,6,Ryan Getzlaf C,56,3,34,37,-14.0,29,18:57,2,9,0,0,104,2.9

Scape the page using the pd.read_html() method

In [226]:
nhl_html = pd.read_html('https://www.espn.com/nhl/team/stats/_/name/ana/anaheim-ducks')
nhl_html

[                Troy Terry C
 0            Trevor Zegras C
 1            Adam Henrique C
 2               Cam Fowler D
 3             Ryan Getzlaf C
 4        Kevin Shattenkirk D
 5            Sonny Milano LW
 6           Jamie Drysdale D
 7          Isac Lundestrom C
 8              Derek Grant C
 9         Rickard Rakell C *
 10       Hampus Lindholm D *
 11      Jakob Silfverberg RW
 12               Sam Steel C
 13             Sam Carrick C
 14            Max Comtois LW
 15         Vinni Lettieri RW
 16  Nicolas Deslauriers LW *
 17           Josh Manson D *
 18             Josh Mahura D
 19         Buddy Robinson RW
 20          Gerry Mayhew C *
 21          Andrej Sustr D *
 22            Simon Benoit D
 23         Dominik Simon C *
 24      Zach Aston-Reese C *
 25   Benoit-Olivier Groulx C
 26          Mason McTavish C
 27            Greg Pateryn D
 28      Urho Vaakanainen D *
 29           Jacob Larsson D
 30           Danny O'Regan C
 31              Max Jones LW
 32           Brendan Guhle D
 33         Brayden Tracey LW
 34             Hunter Drew D
 35        Jacob Perreault RW
 36          Bryce Kindopp RW
 37                     Total,
     GP    G    A  PTS   +/-  PIM  TOI/G  PPG  PPA  SHG  SHA     S  SPCT
 0   75   37   30   67 -11.0   26  18:14    8    7    0    0   192  19.3
 1   75   23   38   61 -21.0   50  17:54    9    8    0    0   181  12.7
 2   58   19   23   42  -2.0   14  17:25    6    5    0    0   141  13.5
 3   76    9   33   42  -9.0   14  24:24    6   12    0    0   124   7.3
 4   56    3   34   37 -14.0   29  18:57    2    9    0    0   104   2.9
 5   82    8   27   35  -9.0   36  21:25    1   13    0    0   163   4.9
 6   66   14   20   34  -9.0   10  15:16    5    5    0    0    94  14.9
 7   81    4   28   32 -26.0   16  19:53    0   12    0    0   137   2.9
 8   80   16   13   29  -3.0    8  15:29    0    0    4    0    83  19.3
 9   71   15   14   29 -16.0   27  14:18    2    0    1    1   117  12.8
 10  51   16   12   28  -7.0    8  18:20    5    4    0    0   136  11.8
 11  61    5   17   22   0.0   42  22:32    1    3    0    1   119   4.2
 12  53    5   16   21  -3.0   30  17:02    1    4    0    0   120   4.2
 13  68    6   14   20 -17.0   16  12:18    0    3    0    0    66   9.1
 14  64   11    8   19 -12.0   85  11:28    0    0    0    0    80  13.8
 15  52    6   10   16 -17.0   46  14:08    0    2    0    0    72   8.3
 16  31    5    5   10  -8.0    6  12:30    2    3    0    0    50  10.0
 17  61    5    5   10  -9.0   90  11:38    0    0    1    0    72   6.9
 18  45    4    5    9   0.0   53  19:44    0    0    0    0    61   6.6
 19  38    3    4    7 -14.0   12  14:03    0    0    0    0    36   8.3
 20  32    1    5    6   2.0   19   9:14    0    0    0    0    38   2.6
 21  15    5    1    6  -1.0    8  14:52    0    0    0    0    22  22.7
 22  23    0    5    5  -3.0   10  17:26    0    0    0    0    18   0.0
 23  53    1    4    5  -5.0   22  14:05    0    0    0    0    45   2.2
 24  17    0    4    4   0.0    6  12:21    0    0    0    0    21   0.0
 25  17    3    1    4   1.0    6  13:24    0    0    0    0    26  11.5
 26  18    1    2    3   0.0    2  10:59    0    0    0    0    17   5.9
 27   9    2    1    3   3.0    2  13:04    0    1    0    0    12  16.7
 28  10    1    1    2   0.0   10  14:07    0    0    0    0    16   6.3
 29  14    0    2    2  -5.0    6  19:21    0    1    0    0    12   0.0
 30   6    0    1    1  -3.0    2  15:16    0    0    0    0     5   0.0
 31   5    0    1    1  -1.0    0  10:03    0    0    0    0     2   0.0
 32   2    0    0    0  -1.0   15   9:54    0    0    0    0     2   0.0
 33   6    0    0    0   0.0    0  14:40    0    0    0    0     6   0.0
 34   1    0    0    0  -1.0    0   9:21    0    0    0    0     1   0.0
 35   2    0    0    0   0.0    5   9:51    0    0    0    0     0   0.0
 36   1    0    0    0  -1.0    0  11:05    0    0    0    0     0   0.0
 37   1    0    0    0   0.0    0   6:06    0    0    0    0     2   0.0
 38  82  228  386  614   NaN  759    NaN   48   96    6    0  2393   9.5,
                 Troy Terry C
 0            Trevor Zegras C
 1            Adam Henrique C
 2               Cam Fowler D
 3             Ryan Getzlaf C
 4        Kevin Shattenkirk D
 5            Sonny Milano LW
 6           Jamie Drysdale D
 7          Isac Lundestrom C
 8              Derek Grant C
 9         Rickard Rakell C *
 10       Hampus Lindholm D *
 11      Jakob Silfverberg RW
 12               Sam Steel C
 13             Sam Carrick C
 14            Max Comtois LW
 15         Vinni Lettieri RW
 16  Nicolas Deslauriers LW *
 17           Josh Manson D *
 18             Josh Mahura D
 19         Buddy Robinson RW
 20          Gerry Mayhew C *
 21          Andrej Sustr D *
 22            Simon Benoit D
 23         Dominik Simon C *
 24      Zach Aston-Reese C *
 25   Benoit-Olivier Groulx C
 26          Mason McTavish C
 27            Greg Pateryn D
 28      Urho Vaakanainen D *
 29           Jacob Larsson D
 30           Danny O'Regan C
 31              Max Jones LW
 32           Brendan Guhle D
 33         Brayden Tracey LW
 34             Hunter Drew D
 35        Jacob Perreault RW
 36          Bryce Kindopp RW
 37                     Total,
    Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                    GP                  G                  A
 0                  75                 37                 30
 1                  75                 23                 38
 2                  58                 19                 23
 3                  76                  9                 33
 4                  56                  3                 34
 5                  82                  8                 27
 6                  66                 14                 20
 7                  81                  4                 28
 8                  80                 16                 13
 9                  71                 15                 14
 10                 51                 16                 12
 11                 61                  5                 17
 12                 53                  5                 16
 13                 68                  6                 14
 14                 64                 11                  8
 15                 52                  6                 10
 16                 31                  5                  5
 17                 61                  5                  5
 18                 45                  4                  5
 19                 38                  3                  4
 20                 32                  1                  5
 21                 15                  5                  1
 22                 23                  0                  5
 23                 53                  1                  4
 24                 17                  0                  4
 25                 17                  3                  1
 26                 18                  1                  2
 27                  9                  2                  1
 28                 10                  1                  1
 29                 14                  0                  2
 30                  6                  0                  1
 31                  5                  0                  1
 32                  2                  0                  0
 33                  6                  0                  0
 34                  1                  0                  0
 35                  2                  0                  0
 36                  1                  0                  0
 37                  1                  0                  0
 38                 82                228                386

    Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0  \
                   PTS                +/-                PIM
 0                  67              -11.0                 26
 1                  61              -21.0                 50
 2                  42               -2.0                 14
 3                  42               -9.0                 14
 4                  37              -14.0                 29
 5                  35               -9.0                 36
 6                  34               -9.0                 10
 7                  32              -26.0                 16
 8                  29               -3.0                  8
 9                  29              -16.0                 27
 10                 28               -7.0                  8
 11                 22                0.0                 42
 12                 21               -3.0                 30
 13                 20              -17.0                 16
 14                 19              -12.0                 85
 15                 16              -17.0                 46
 16                 10               -8.0                  6
 17                 10               -9.0                 90
 18                  9                0.0                 53
 19                  7              -14.0                 12
 20                  6                2.0                 19
 21                  6               -1.0                  8
 22                  5               -3.0                 10
 23                  5               -5.0                 22
 24                  4                0.0                  6
 25                  4                1.0                  6
 26                  3                0.0                  2
 27                  3                3.0                  2
 28                  2                0.0                 10
 29                  2               -5.0                  6
 30                  1               -3.0                  2
 31                  1               -1.0                  0
 32                  0               -1.0                 15
 33                  0                0.0                  0
 34                  0               -1.0                  0
 35                  0                0.0                  5
 36                  0               -1.0                  0
 37                  0                0.0                  0
 38                614                NaN                759

    Unnamed: 6_level_0 Unnamed: 7_level_0 Unnamed: 8_level_0  \
                  SHFT                GWG                 FW
 0                1687                  7                  1
 1                1580                  5                217
 2                1305                  0                276
 3                2084                  1                  0
 4                1286                  1                546
 5                2066                  1                  0
 6                1257                  3                  0
 7                1871                  1                  0
 8                1745                  3                391
 9                1442                  1                204
 10               1123                  1                 33
 11               1559                  1                  0
 12               1263                  0                  8
 13               1102                  1                203
 14               1040                  0                204
 15                944                  0                 22
 16                477                  0                 12
 17                991                  0                  1
 18               1092                  0                  0
 19                703                  0                  0
 20                436                  0                  0
 21                295                  0                  1
 22                507                  0                  0
 23                989                  0                  0
 24                277                  0                  4
 25                327                  0                  1
 26                275                  0                 38
 27                159                  1                  0
 28                186                  0                  0
 29                329                  0                  0
 30                109                  0                  0
 31                 63                  0                 11
 32                 29                  0                  1
 33                111                  0                  0
 34                 11                  0                  0
 35                 26                  0                  0
 36                 14                  0                  0
 37                  9                  0                  0
 38              30865                  0               2174

    Unnamed: 9_level_0 Unnamed: 10_level_0 Unnamed: 11_level_0 Shootouts      \
                    FL                 FO%                PROD       SOA SOG
 0                   8                11.1               20:24         8   1
 1                 327                39.9               22:01        10   6
 2                 221                55.5               24:03         0   0
 3                   0                 0.0               44:10         0   0
 4                 479                53.3               28:41         0   0
 5                   1                 0.0               50:10         4   1
 6                   2                 0.0               29:39         1   0
 7                   0                 0.0               50:20         0   0
 8                 488                44.5               42:43         0   0
 9                 216                48.6               35:02         0   0
 10                 41                44.6               33:24         5   5
 11                  0                 0.0               62:30         0   0
 12                 16                33.3               43:00         0   0
 13                209                49.3               41:51         0   0
 14                209                49.4               38:37         0   0
 15                 24                47.8               45:56         1   0
 16                 11                52.2               38:47         0   0
 17                  3                25.0               71:00         0   0
 18                  0                 0.0               98:44         0   0
 19                  0                 0.0               76:19         0   0
 20                  6                 0.0               49:19         0   0
 21                  4                20.0               37:11         0   0
 22                  0                 0.0               80:14         0   0
 23                  0                 0.0              149:22         0   0
 24                  2                66.7               52:32         0   0
 25                  2                33.3               57:00         0   0
 26                 45                45.8               65:58         0   0
 27                  3                 0.0               39:14         0   0
 28                  0                 0.0               70:36         0   0
 29                  0                 0.0              135:27         0   0
 30                  0                 0.0               91:38         0   0
 31                 17                39.3               50:17         0   0
 32                  1                50.0                0:00         0   0
 33                  0                 0.0                0:00         0   0
 34                  0                 0.0                0:00         0   0
 35                  0                 0.0                0:00         0   0
 36                  0                 0.0                0:00         0   0
 37                  1                 0.0                0:00         0   0
 38               2336                48.2                 NaN        29  13


     SOPCT
 0    12.5
 1    60.0
 2     0.0
 3     0.0
 4     0.0
 5    25.0
 6     0.0
 7     0.0
 8     0.0
 9     0.0
 10  100.0
 11    0.0
 12    0.0
 13    0.0
 14    0.0
 15    0.0
 16    0.0
 17    0.0
 18    0.0
 19    0.0
 20    0.0
 21    0.0
 22    0.0
 23    0.0
 24    0.0
 25    0.0
 26    0.0
 27    0.0
 28    0.0
 29    0.0
 30    0.0
 31    0.0
 32    0.0
 33    0.0
 34    0.0
 35    0.0
 36    0.0
 37    0.0
 38   44.8  ]